<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 10}) %>
<h1>Is this the place you meant?</h1>

<%= form_tag '/', :method => 'get' do %>
  <%= submit_tag "No :(", :name=>nil %>
<% end %>
<%= form_tag '/antipodes', :method => 'get' do %>
  <%= hidden_field_tag(:lat, @lat) %>
  <%= hidden_field_tag(:lng, @lng) %>
  <%= submit_tag("Yes! Onward, noble steed, to the other side of the world!", :name=>nil) %>
<% end %>

