<br />
<br />
<br />
<%= form_tag("/geocode", :method => "get") do %>
  <%= label_tag :q, t(:search) %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<p><%=t :example %> <em><%= @random_example %></em></p>

