<!DOCTYPE html>
<html>
  <head>
    <title>Antipodes</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background: #EEEEEE;">
    <%= yield :head %>
    <%= link_to image_tag('logo.png'), '/' %>
    <%= render 'shared/notice_div' %>
    <%= yield %>
    <%= yield :scripts %>
  </body>
</html>
