<!DOCTYPE html>
<html>
  <head>
    <title>Antipodes</title>
    <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
    <%= javascript_include_tag "markerclusterer" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background: #EEEEEE;">
    <%= yield :head %>
    <%= link_to image_tag('logo.png'), '/' %>
    <%= render 'shared/notice_div' %>
    <%= yield %>
    <%= yield :scripts %>
  </body>
</html>
